<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="~{fragments/head :: head}"></head>
<body>
<div th:replace="~{fragments/disclaimer :: disclaimer}"></div>
<div th:replace="~{fragments/title :: title}"></div>

<a th:href="@{/dossiers(kbonummer=${kbonummer})}">Terug naar overzicht overlijdensdossiers</a>
<div class="ml-3">
    <h3>Detail</h3>

    <h2 th:text="'Overlijdensdossier ' + ${detail.id()} + '(' + ${dossier.naamOverledene()} +')'"></h2>

    <div class="grid-container-3">
        <div class="grid-column">
            <h3>Overledene</h3>
            <p>
            <div class="label">Overledene</div>
            <div class="data" th:text="${dossier.naamOverledene()}"/>
            </p>
            <p>
            <div class="label">Rijksregisternummer</div>
            <div class="data" th:text="${detail.rijksregisternummer()}"/>
            </p>
            <p>
            <div class="label">Geslacht</div>
            <div class="data" th:text="${detail.geslacht()}"/>
            </p>
            <p>
            <div class="label">Verblijfplaats</div>
            <div class="data" th:text="${dossier.verblijfplaatsOverledene()}"/>
            </p>
            <p>
            <div class="label">Echtgeno(o)t(te) of weduw(e)(naar) van</div>
            <div th:text="${dossier.naamPartner()}"/>
            </p>
        </div>
        <div class="grid-column">
            <h3>Details overlijden</h3>
            <p>
            <div class="label">Tijdstip overlijden</div>
            <div class="data" th:text="${dossier.detailsOverlijden().tijdstipOverlijden()}"></div>
            </p>
            <p>
            <div class="label">Tijdstip vaststelling</div>
            <div class="data" th:text="${dossier.detailsOverlijden().tijdstipVaststelling()}"></div>
            </p>
            <p>
            <div class="label">Arts die vaststelling heeft gedaan</div>
            <div class="data"
                 th:text="${dossier.detailsOverlijden().artsVaststelling()}"></div>
            </p>
            <p>
            <div class="label">Adres van overlijden</div>
            <div class="data" th:text="${dossier.detailsOverlijden().adresOverlijden()}"></div>
            </p>
            <p>
            <div class="label">Plaats van overlijden</div>
            <div class="data" th:text="${dossier.detailsOverlijden().plaatsOverlijden()}"></div>
            </p>

        </div>
        <div class="grid-column">
            <h3>Risico's/bezwaren</h3>
            <ul th:each="bezwaar : ${dossier.bezwaren()}">
                <li th:text="${bezwaar}"/>
            </ul>
            <ul th:each="risico : ${dossier.risicos()}">
                <li th:text="${risico}"/>
            </ul>
        </div>
    </div>
</div>

</body>
</html>