<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="">
<head th:replace="~{fragments/head :: head}"><title></title></head>
<body>
<div th:replace="~{fragments/disclaimer :: disclaimer}"></div>
<div th:replace="~{fragments/title :: title(kbonummer=${kbonummer})}"></div>
<div th:replace="~{fragments/navigation :: navigation(kbonummer=${kbonummer})}"></div>


<a th:href="@{dossiers(kbonummer=${kbonummer},status='NIEUW')}" class="ml-3">Terug naar overzicht overlijdensdossiers</a>
<div class="ml-3">
    <h3>Detail niet gevonden</h3>
</div>

</body>
</html>