<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="~{fragments/head :: head}"><title></title></head>
<body>
<div th:replace="~{fragments/disclaimer :: disclaimer}"></div>
<div th:replace="~{fragments/title :: title(kbonummer=${kbonummer})}"></div>

<div class="mlr-3 mtb-3">
    <a th:href="@{dossiers(kbonummer=${kbonummer},status='NIEUW')}">Terug naar overzicht overlijdensdossiers</a>
    <hr class="solid">
</div>
<div class="ml-3">
    <h2 th:text="'Overlijdensdossier ' + ${dossier.id()} + '(' + ${parsedDetail.naamOverledene()} +')'"></h2>

    <div th:replace="~{fragments/dossier.html :: dossier(dossier=${dossier}, parsedDetail=${parsedDetail})}"></div>

    <div th:replace="~{fragments/vaststelling-jonger-dan-1-jaar.html :: vaststelling-jonger-dan-1-jaar(dossier=${dossier}, parsedDetail=${parsedDetail})}"></div>
    <div th:replace="~{fragments/medisch-attest-zwangerschapsduur.html :: medisch-attest-zwangerschapsduur(attest=${zwangerschapsduur})}"></div>
    <div th:replace="~{fragments/verrijking.html :: verrijking(id=${dossier.id()},verrijking=${parsedDetail.verrijkingRijksregister()})}"></div>
    <div th:replace="~{fragments/laatste-wilsbeschikking.html :: laatsteWilsbeschikking(id=${dossier.id()},laatsteBevragingRijksregister=${dossier.parsedLaatsteBevragingRijksregister()}, laatsteWilsbeschikking=${laatsteWilsbeschikking}, laatsteWilsbeschikkingGearchiveerdOp=${dossier.parsedlaatsteWilsbeschikkingGearchiveerdOp()})}"></div>


    <!-- Als er een gekoppeld verslag is -->
    <div th:if="${verslag}">
        <div th:replace="~{fragments/verslag-detail.html :: verslag(verslag=${verslag})}"></div>
        <div th:replace="~{fragments/ontkoppel.html :: ontkoppel(id=${verslag.id()})}"></div>
    </div>
    <!-- ELSE -->
    <div th:unless="${verslag}">
        <h3>Verslag van de aangestelde beëdigd arts</h3>
        Nog geen verslag gekoppeld
    </div>

    <div th:replace="~{fragments/inlichtingenfiche/inlichtingenfiche.html :: inlichtingenfiche(inlichtingenfiche=${dossier.inlichtingenfiche()})}"></div>

    <div th:replace="~{fragments/aanvullende-gegevens.html :: aanvullende-gegevens(id=${dossier.id()},aanvulling=${parsedDetail.aanvulling()})}"></div>

    <div th:replace="~{fragments/statistischegegevens/statistische-gegevens-jonger-dan-1-jaar.html :: statistische-gegevens(id=${dossier.id()},statistischeGegevens=${statistischeGegevens})}"></div>

    <div th:replace="~{fragments/files :: files(dossier=${dossier}, parsedDetail=${parsedDetail.detailsOverlijden()})}"></div>
</div>

</body>
</html>