<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Toepassing burgerlijke stand</title>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link th:href="@{/styles/style.css}" rel="stylesheet"/>
    <script th:src="@{/webjars/htmx.org/2.0.2/dist/htmx.min.js}" defer></script>
</head>
<body>
<div class="disclaimer">
    <h2>Disclaimer: Dit is een demo applicatie</h2>
</div>
<div class="light-grey">
    <h2>Toepassing burgerlijke stand</h2>
</div>

<a th:href="@{/dossiers(kbonummer=${kbonummer})}">Terug naar overzicht overlijdensdossiers</a>
<div class="ml-3">
    <h3>Detail</h3>

    <h2 th:text="'Overlijdensdossier ' + ${detail.id()} + '(' + ${dossier.naamOverledene()} +')'"></h2>

    <div class="grid-container-4">
        <div class="grid-column">
            <h3>Overledene</h3>
            <p>
            <div class="label">Overledene</div>
            <div class="data" th:text="${dossier.naamOverledene()}"></div>
            </p>
            <p>
            <div class="label">Rijksregisternummer</div>
            <div class="data" th:text="${detail.rijksregisternummer()}"></div>
            </p>
            <p>
            <div class="label">Geslacht</div>
            <div class="data" th:text="${detail.geslacht()}"></div>
            </p>
            <p>
            <div class="label">Verblijfplaats moeder</div>
            <div class="data" th:text="${dossier.verblijfplaatsMoeder()}"></div>
            </p>
            <p>
            <div class="label">Naam moeder</div>
            <div th:text="${dossier.naamMoeder()}">
                someValue
            </div>

            </p>
        </div>
        <div class="grid-column">
            <h3>Details overlijden</h3>
            <p>
            <div class="label">Tijdstip overlijden</div>
            <div class="data" th:text="${dossier.detailsOverlijden().tijdstipOverlijden()}"></div>
            </p>
            <p>
            <div class="label">Tijdstip vaststelling</div>
            <div class="data" th:text="${dossier.detailsOverlijden().tijdstipVaststelling()}"></div>
            </p>
            <p>
            <div class="label">Arts die vaststelling heeft gedaan</div>
            <div class="data"
                 th:text="${dossier.detailsOverlijden().artsVaststelling()}"></div>
            </p>
            <p>
            <div class="label">Adres van overlijden</div>
            <div class="data" th:text="${dossier.detailsOverlijden().adresOverlijden()}"></div>
            </p>
            <p>
            <div class="label">Plaats van overlijden</div>
            <div class="data" th:text="${dossier.detailsOverlijden().plaatsOverlijden()}"></div>
            </p>

        </div>
        <div class="grid-column">
            <h3>Details geboorte</h3>
            <p>
            <div class="label">Tijdstip geboorte</div>
            <div class="data" th:text="${dossier.geboorteDetails().tijdstipGeboorte()}"></div>
            </p>
            <p>
            <div class="label">Het kind is</div>
            <div class="data" th:text="${dossier.geboorteDetails().levendGeboren} "></div>
            </p>
            <p>
            <div class="label">Plaats van de geboorte</div>
            <div class="data" th:text="${dossier.geboorteDetails().plaatsGeboorte()}"></div>
            </p>
            <p>
            <div class="label">meervoudige zwangerschap</div>
            <div class="data" th:text="${dossier.geboorteDetails().meervoudigeZwangerschap()}"></div>
            </p>
            <p>
            <div class="label">totaal aantal geboorten</div>
            <div class="data"
                 th:text="${dossier.geboorteDetails().totaalAantalGeboorten()}"></div>
            </p>
            <p>
            <div class="label">Rang nummer van het kind</div>
            <div class="data" th:text="${dossier.geboorteDetails().rang()}"></div>
            </p>
            <p>
            <div class="label">Aantal levend geboren</div>
            <div>mannelijk: <span class="data"
                                  th:text="${dossier.geboorteDetails().aantalLevendGeboren().mannelijk()}"></span>
            </div>
            <div>vrouwelijk: <span class="data"
                                   th:text="${dossier.geboorteDetails().aantalLevendGeboren().vrouwelijk()}"></span>
            </div>
            <div>onbepaald: <span class="data"
                                  th:text="${dossier.geboorteDetails().aantalLevendGeboren().onbepaald()}"></span>
            </div>
            </p>
            <p>
            <div class="label">Aantal dood geboren</div>
            <div>mannelijk: <span class="data"
                                  th:text="${dossier.geboorteDetails().aantalDoodGeboren().mannelijk()}"></span>
            </div>
            <div>vrouwelijk: <span class="data"
                                   th:text="${dossier.geboorteDetails().aantalDoodGeboren().vrouwelijk()}"></span>
            </div>
            <div>onbepaald: <span class="data"
                                  th:text="${dossier.geboorteDetails().aantalDoodGeboren().onbepaald()}"></span>
            </div>
            </p>
        </div>
        <div class="grid-column">
            <h3>Risico's/bezwaren</h3>
            <ul th:each="bezwaar : ${dossier.bezwaren()}">
                <li th:text="${bezwaar}"/>
            </ul>
            <ul th:each="risico : ${dossier.risicos()}">
                <li th:text="${risico}"/>
            </ul>
        </div>
    </div>
</div>

</body>
</html>