<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Toepassing burgerlijke stand</title>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link th:href="@{/styles/style.css}" rel="stylesheet"/>
</head>
<body>
<div class="disclaimer">
    <h2>Disclaimer: Dit is een demo applicatie</h2>
</div>
<div class="light-grey">
    <h2>Toepassing burgerlijke stand</h2>
</div>

<div class="ml-3">
    <h3>Overlijdendossiers</h3>
</div>

<div th:if="${ not#lists.isEmpty(dossiers)}" class="grey-border ml-3 mr-3 outer">

    <table>

        <tr>
            <th >Dossiernummer</th>
            <th >naam</th>
            <th >rijksregisternummer</th>
            <th >datum overlijden</th>
            <th >status</th>
            <th ></th>
        </tr>

        <tr th:each="dossier : ${dossiers}">
            <td th:text="${dossier.id()}"></td>
            <td th:text="${dossier.voornaam()} + ' ' + ${dossier.naam()}"></td>
            <td th:text="${dossier.rijksregisternummer()}"></td>
            <td th:text="${#temporals.format(dossier.overlijden().tijdstip().datum(), 'dd/MM/yyyy')}"></td>
            <td th:text="${dossier.dossierStatus()}"></td>
            <td></td>
        </tr>
    </table>
</div>
</body>
</html>