<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="~{fragments/head :: head}"><title></title></head>
<body>
<div th:replace="~{fragments/disclaimer :: disclaimer}"></div>
<div th:replace="~{fragments/title :: title}"></div>

<div class="mlr-3 mtb-3">
    <a th:href="@{/verslagen(kbonummer=${kbonummer})}">Terug naar overzicht ongekoppelde verslagen beëdigd arts</a>
    <hr class="solid">
</div>

<div class="ml-3">
    <div th:replace="~{fragments/verslag-detail.html :: verslag(verslag=${verslagDetail})}"></div>
</div>

</body>
</html>