spring:
  security:
    oauth2:
      client:
        provider:
          demo:
            token-uri: https://authenticatie-ti.vlaanderen.be/op/v1/token
            issuer-uri: https://authenticatie-ti.vlaanderen.be/op

dao:
  service:
    connection-url: https://${dao.project}.api.beta-athumi.eu
    frontend-url: https://${dao.project}.beta-athumi.eu
    frontend-base-url: ${dao.service.frontend-url}/demo
  gemeentes:
    security-method: private_key_jwt
    issuer-uri: https://authenticatie-ti.vlaanderen.be/op
    token-uri: https://authenticatie-ti.vlaanderen.be/op/v1/token