<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<div th:fragment="statistische-gegevens(id, statistischeGegevens)" class="grid-column">

    <h3>Statistisch formulier</h3>

    <div class="label">Status statistisch formulier</div>
    <div class="bottom-spacing"  th:text="${statistischeGegevens.statistischeGegevens?.socioeconomischegegevens?.lokaalBestuur?.aangepastOp}  ? 'Aangevuld': 'Niet aangevuld'">-</div>
    <div class="label">Datum laatste aanvulling statistisch formulier</div>
    <div class="bottom-spacing"  th:text="${statistischeGegevens.statistischeGegevens?.socioeconomischegegevens?.lokaalBestuur?.aangepastOp ?: '-'}">-</div>
    <div class="label">Status statistisch formulier uitvaartondernemer</div>
    <div class="bottom-spacing"  th:text="${statistischeGegevens.statistischeGegevens?.socioeconomischegegevens?.uitvaart?.aangepastOp} ? 'Ingevuld': 'Nog niet ingevuld'">-</div>
    <div class="label">Datum laatste aanvulling statistisch formulier door uitvaartondernemer</div>
    <div class="bottom-spacing"  th:text="${statistischeGegevens.statistischeGegevens?.socioeconomischegegevens?.uitvaart?.aangepastOp ?: '-'}">-</div>

    <div th:replace="~{fragments/statistischegegevens/socioeconomisch/seg-form :: seg(id=${id}, seg=${statistischeGegevens.statistischeGegevens?.socioeconomischegegevens?.lokaalBestuur}, ouderdan=${false})}"></div>

    <p>Onderstaande rijksregisternummers zijn gebruikt voor de verrijking van de gegevens</p>
    <table>

        <tr class="title">
            <th></th>
            <th>Bron RR</th>
            <th>Bron vaststelling</th>
            <th>Uitvaart ondernemer</th>
            <th>Lokaal bestuur</th>
            <th>Wordt doorgegeven aan Departement Zorg</th>
        </tr>

        <tr th:replace="~{this :: tableRow(tableRow=${statistischeGegevens.rrnOverledene()})}"></tr>
        <tr th:replace="~{this :: tableRow(tableRow=${statistischeGegevens.rrnMoeder()})}"></tr>
        <tr th:replace="~{this :: tableRow(tableRow=${statistischeGegevens.rrnVaderOfMoeder()})}"></tr>


        <tr class="spacer"><td colspan="6">&nbsp;</td></tr>

        <tr class="title">
            <th></th>
            <th>Bron RR</th>
            <th>Bron vaststelling</th>
            <th>Uitvaart ondernemer</th>
            <th>Lokaal bestuur</th>
            <th>Wordt doorgegeven aan Departement Zorg</th>
        </tr>
        <tr th:replace="~{this :: tableRow(tableRow=${statistischeGegevens.overledene().geslacht()})}"></tr>
        <tr th:replace="~{this :: tableRow(tableRow=${statistischeGegevens.overledene().tijdstipOverlijden()})}"></tr>
        <tr th:replace="~{this :: tableRow(tableRow=${statistischeGegevens.overledene().gemeenteOverlijden()})}"></tr>
        <tr th:replace="~{this :: tableRow(tableRow=${statistischeGegevens.overledene().plaatsOverlijden()})}"></tr>
        <tr th:replace="~{this :: tableRow(tableRow=${statistischeGegevens.overledene().geboorteDatum()})}"></tr>
        <tr th:replace="~{this :: tableRow(tableRow=${statistischeGegevens.overledene().geboorteTijdstip()})}"></tr>
        <tr th:replace="~{this :: tableRow(tableRow=${statistischeGegevens.overledene().gemeenteLandGeboorte()})}"></tr>
        <tr th:replace="~{this :: tableRow(tableRow=${statistischeGegevens.overledene().plaatsGeboorte()})}"></tr>
        <tr th:replace="~{this :: tableRow(tableRow=${statistischeGegevens.overledene().levendOfDoodGeboren()})}"></tr>
        <tr th:replace="~{this :: tableRow(tableRow=${statistischeGegevens.overledene().meervoudigeZwangerschap()})}"></tr>
        <tr th:replace="~{this :: tableRow(tableRow=${statistischeGegevens.overledene().totaal()})}"></tr>
        <tr th:replace="~{this :: tableRow(tableRow=${statistischeGegevens.overledene().rangNummer()})}"></tr>
        <tr th:replace="~{this :: tableRow(tableRow=${statistischeGegevens.overledene().levendMannelijk()})}"></tr>
        <tr th:replace="~{this :: tableRow(tableRow=${statistischeGegevens.overledene().levendVrouwelijk()})}"></tr>
        <tr th:replace="~{this :: tableRow(tableRow=${statistischeGegevens.overledene().levendOnbepaald()})}"></tr>
        <tr th:replace="~{this :: tableRow(tableRow=${statistischeGegevens.overledene().doodMannelijk()})}"></tr>
        <tr th:replace="~{this :: tableRow(tableRow=${statistischeGegevens.overledene().doodVrouwelijk()})}"></tr>
        <tr th:replace="~{this :: tableRow(tableRow=${statistischeGegevens.overledene().doodOnbepaald()})}"></tr>

        <tr><th colspan="100%">Gegevens ouder 1</th></tr>
        <tr th:replace="~{this :: tableRow(tableRow=${statistischeGegevens.ouder1().geslacht()})}"></tr>
        <tr th:replace="~{this :: tableRow(tableRow=${statistischeGegevens.ouder1().geboorteDatum()})}"></tr>
        <tr th:replace="~{this :: tableRow(tableRow=${statistischeGegevens.ouder1().huidigeNationaliteit()})}"></tr>
        <tr th:replace="~{this :: tableRow(tableRow=${statistischeGegevens.ouder1().oorspronkelijkeNationaliteit()})}"></tr>
        <div th:if="${statistischeGegevens.ouder1().isExtended()}">
            <tr th:replace="~{this :: tableRow(tableRow=${statistischeGegevens.ouder1().verblijfplaats()})}"></tr>
            <tr th:replace="~{this :: tableRow(tableRow=${statistischeGegevens.ouder1().burgerlijkeStaat()})}"></tr>
            <tr th:replace="~{this :: tableRow(tableRow=${statistischeGegevens.ouder1().datumHuidigHuwelijk()})}"></tr>
        </div>
        <tr th:replace="~{this :: tableRow(tableRow=${statistischeGegevens.opleidingMama()})}"></tr>
        <tr th:replace="~{this :: tableRow(tableRow=${statistischeGegevens.beroepstoestandMama()})}"></tr>
        <tr th:replace="~{this :: tableRow(tableRow=${statistischeGegevens.socialestaatMama()})}"></tr>
        <tr th:replace="~{this :: tableRow(tableRow=${statistischeGegevens.beroepMama()})}"></tr>
        <tr th:replace="~{this :: tableRow(tableRow=${statistischeGegevens.gezinstoestand()})}"></tr>
        <tr th:replace="~{this :: tableRow(tableRow=${statistischeGegevens.levendeKinderen()})}"></tr>
        <tr th:replace="~{this :: tableRow(tableRow=${statistischeGegevens.dodeKinderen()})}"></tr>

        <tr><th colspan="100%">Gegevens ouder 2</th></tr>
        <tr th:replace="~{this :: tableRow(tableRow=${statistischeGegevens.ouder2().geslacht()})}"></tr>
        <tr th:replace="~{this :: tableRow(tableRow=${statistischeGegevens.ouder2().geboorteDatum()})}"></tr>
        <tr th:replace="~{this :: tableRow(tableRow=${statistischeGegevens.ouder2().huidigeNationaliteit()})}"></tr>
        <tr th:replace="~{this :: tableRow(tableRow=${statistischeGegevens.ouder2().oorspronkelijkeNationaliteit()})}"></tr>
        <div th:if="${statistischeGegevens.ouder2().isExtended()}">
            <tr th:replace="~{this :: tableRow(tableRow=${statistischeGegevens.ouder2().verblijfplaats()})}"></tr>
            <tr th:replace="~{this :: tableRow(tableRow=${statistischeGegevens.ouder2().burgerlijkeStaat()})}"></tr>
            <tr th:replace="~{this :: tableRow(tableRow=${statistischeGegevens.ouder2().datumHuidigHuwelijk()})}"></tr>
        </div>
        <tr th:replace="~{this :: tableRow(tableRow=${statistischeGegevens.opleidingPapa()})}"></tr>
        <tr th:replace="~{this :: tableRow(tableRow=${statistischeGegevens.beroepstoestandPapa()})}"></tr>
        <tr th:replace="~{this :: tableRow(tableRow=${statistischeGegevens.socialestaatPapa()})}"></tr>
        <tr th:replace="~{this :: tableRow(tableRow=${statistischeGegevens.beroepPapa()})}"></tr>
    </table>

    <div th:replace="~{fragments/statistischegegevens/refresh-rijksregister.html :: refresh-rijksregister(id=${dossier.id()})}"></div>

</div>

<tr th:fragment="tableRow(tableRow)">

    <td th:text="${tableRow.label()}"></td>
    <td th:text="${tableRow.RR()}"></td>
    <td th:text="${tableRow.vaststelling()}"></td>
    <td th:text="${tableRow.uitvaart()}"></td>
    <td th:text="${tableRow.abs()}"></td>
    <td th:text="${tableRow.departementZorg()}"></td>

</tr>


</html>

