<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

    <div th:fragment="inlichtingenfiche(inlichtingenfiche)">
        <h2>Inlichtingenfiche uitvaart - Overige info</h2>
        <div class="grid-container-4">
<!--            <div class="grid-column">-->
<!--                <h3>Woonsituatie Overledene</h3>-->
<!--            </div>-->
            <div th:if="${inlichtingenfiche?.informatieAkteLevenloosKind != null}" class="grid-column">
                <h3>Vader of Meemoeder bij doodgeboorte</h3>
                <div class="label">Rijksregisternummer</div>
                <div th:text="${inlichtingenfiche?.informatieAkteLevenloosKind?.vaderOfMeeMoeder?.rijksregisternummer ?: '/'}"></div>
                <div class="label">Voornaam</div>
                <div th:text="${inlichtingenfiche?.informatieAkteLevenloosKind?.vaderOfMeeMoeder?.voornaam ?: '/'}"></div>
                <div class="label">naam</div>
                <div th:text="${inlichtingenfiche?.informatieAkteLevenloosKind?.vaderOfMeeMoeder?.naam ?: '/'}"></div>
                <div class="label">Geboortedatum</div>
                <div th:text="${inlichtingenfiche?.informatieAkteLevenloosKind?.vaderOfMeeMoeder?.geboorteDatum ?: '/'}"></div>
                <div class="label">Geboorteplaats</div>
                <div th:text="${inlichtingenfiche?.informatieAkteLevenloosKind?.vaderOfMeeMoeder?.parsedGeboorteDatum() ?: '/'}"></div>
            </div>
        </div>
    </div>

</html>