name: CD
concurrency:
  group: ${{ github.workflow }}
on:
  workflow_dispatch:
  workflow_call:
  push:
    tags:
      - '[0-9]+.[0-9]+.[0-9]+'

permissions:
  id-token: write
  contents: read

jobs:
  package-backend:
    name: package demo
    environment: athumi-acr
    env:
      ACR_REGISTRY: ${{ vars.ACR_REGISTRY }}
    runs-on: ubuntu-22.04
    steps:
      - name: Azure login
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.AZURE_CLIENT_ID }}
          tenant-id: ${{ secrets.AZURE_TENANT_ID }}
          allow-no-subscriptions: true
      - name: ACR login
        run: az acr login --name "${{ env.ACR_REGISTRY }}"
      - uses: actions/checkout@v4
      - uses: actions/setup-java@v4
        with:
          distribution: "adopt"
          java-version: "21"
          cache: "gradle"
      - name: Collect version
        id: versions
        working-directory: burgerlijke-stand
        run: |
          echo "APP_VERSION=$(cat .version)" >> $GITHUB_OUTPUT

      - name: build and push image
        working-directory: burgerlijke-stand
        run: |
          ./gradlew clean build
          docker build --platform linux/amd64 -t dao-demo:${{ steps.versions.outputs.APP_VERSION }} -f Dockerfile .
          docker tag dao-demo:${{ steps.versions.outputs.APP_VERSION }} "${{ vars.AZURE_REPO_URL }}/${{ vars.AZURE_ELYS_REPO_PROJECT }}/dao-demo:${{ steps.versions.outputs.APP_VERSION }}"
          docker push "${{ vars.AZURE_REPO_URL }}/${{ vars.AZURE_ELYS_REPO_PROJECT }}/dao-demo:${{ steps.versions.outputs.APP_VERSION }}"
        env:
          SPRING_PROFILES_ACTIVE: dev
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          GITHUB_ACTOR: ${{ secrets.GITHUB_ACTOR }}
