<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<div th:fragment="details-overlijden(parsedDetail)" class="grid-column">
    <h3>Details overlijden</h3>
    <div class="label">Tijdstip overlijden</div>
    <div class="bottom-spacing"  th:text="${parsedDetail.tijdstipOverlijden()}"></div>
    <div class="label">Tijdstip vaststelling</div>
    <div class="bottom-spacing"  th:text="${parsedDetail.tijdstipVaststelling()}"></div>
    <div class="label">Arts die vaststelling heeft gedaan</div>
    <div class="bottom-spacing"  th:text="${parsedDetail.artsVaststelling()}"></div>
    <div class="label">Adres van overlijden</div>
    <div class="bottom-spacing"  th:text="${parsedDetail.adresOverlijden()}"></div>
    <div class="label">Plaats van overlijden</div>
    <div class="bottom-spacing"  th:text="${parsedDetail.plaatsOverlijden()}"></div>

</div>
</html>