<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<div th:fragment="dossier(dossier, parsedDetail)" class="grid-container-3">
    <section class="grid-column">
        <h3>Dossier status</h3>
        <div class="label">Status dossier lokaal bestuur</div>
        <div class="bottom-spacing" th:text="${dossier.dossierStatus()}"></div>
        <div class="label">Ingediend op</div>
        <div class="bottom-spacing" th:text="${dossier.parsedIngediendOp()}"></div>
        <div class="label">Afgesloten op</div>
        <div class="bottom-spacing" th:text="${dossier.parsedAfgeslotenOp()}"></div>
        <div class="label">Heropend op</div>
        <div class="bottom-spacing" th:text="${dossier.parsedHeropendOp()}"></div>
        <div class="label">Verwijderd op</div>
        <div class="bottom-spacing" th:text="${dossier.parsedVerwijderdOp()}"></div>

        <div th:if="${!dossier.hasStatus('VERWIJDERD') && !dossier.hasStatus('BEHANDELD')}" style="margin-bottom: 1rem">
            <div th:replace="~{fragments/afsluiten.html :: afsluiten(id=${dossier.id()})}"></div>
        </div>
        <div th:if="${dossier.hasStatus('VERWIJDERD') || dossier.hasStatus('BEHANDELD')}" style="margin-bottom: 1rem">
            <div th:replace="~{fragments/heropen.html :: heropen(id=${dossier.id()})}" naam></div>
        </div>
        <div th:if="${!dossier.hasStatus('VERWIJDERD')}">
            <div th:replace="~{fragments/verwijderen.html :: verwijderen(id=${dossier.id()})}" style="margin-bottom: 1rem"></div>
        </div>
    </section>

    <section class="grid-column" style="grid-column: 2 / 4; ">
        <h3>Historiek</h3>
        <table>
            <thead>
            <tr>
                <th> Actie</th>
                <th> Reden</th>
                <th> Boodschap</th>
                <th> Datum</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="item : ${dossier?.historiek()}">
                <td th:text="${item?.type()}"></td>
                <td th:text="${item?.reden()}"></td>
                <td th:text="${item?.message()}"></td>
                <td th:text="${#temporals.format(item?.tijdstip, 'dd/MM/yyyy HH:mm')}"></td>
            </tr>
            </tbody>
        </table>
    </section>

    <section class="grid-column">
        <h3>Lokaal bestuur van behandeling</h3>
        <div class="label">KBONummer</div>
        <div class="bottom-spacing" th:text="${dossier.lokaalBestuurVanBehandeling()?.kboNummer()}"></div>
        <div class="label">Naam</div>
        <div class="bottom-spacing" th:text="${dossier.lokaalBestuurVanBehandeling()?.naam()}"></div>
        <div class="label">Niscode</div>
        <div class="bottom-spacing" th:text="${dossier.lokaalBestuurVanBehandeling()?.niscode()}"></div>
        <div th:if="${dossier.lokaalBestuurVanBehandeling()?.postcode()}" class="label">Postcode</div>
        <div class="bottom-spacing" th:text="${dossier.lokaalBestuurVanBehandeling()?.postcode()}"></div>
        <div th:replace="~{fragments/wijzigenPlaatsOverlijden/wijzigen-plaats-overlijden.html :: wijzigen-plaats-overlijden(dossier=${dossier})}"></div>
    </section>

    <section class="grid-column">
        <h3>Uitvaartondernemer</h3>
        <div class="label">Naam</div>
        <div class="bottom-spacing" th:text="${parsedDetail.uo().naam()}"></div>
        <div class="label">KBO-nummer</div>
        <div class="bottom-spacing" th:text="${parsedDetail.uo().kboNummer()}"></div>
        <div class="label">Dossier opgestart door uitvaartondernemer op</div>
        <div class="bottom-spacing" th:text="${parsedDetail.uo().opgestartOp()}"></div>
        <div class="label">Dossier afgesloten door uitvaartondernemer op</div>
        <div class="bottom-spacing" th:text="${parsedDetail.uo().afgeslotenOp()}"></div>
        <div class="label">Dossier heropend door uitvaartondernemer op</div>
        <div class="bottom-spacing" th:text="${parsedDetail.uo().heropendOp()}"></div>
        <div th:replace="~{fragments/ontkoppelUitvaartOndernemer.html :: ontkoppelUitvaartOndernemer(id=${dossier.id()})}"></div>
    </section>

    <section class="grid-column">
        <h3>Vorige Uitvaartondernemer</h3>
        <div class="label">Naam</div>
        <div class="bottom-spacing" th:text="${parsedDetail.vuo().naam()}"></div>
        <div class="label">KBO-nummer</div>
        <div class="bottom-spacing" th:text="${parsedDetail.vuo().kboNummer()}"></div>
        <div class="label">Dossier opgestart door uitvaartondernemer op</div>
        <div class="bottom-spacing" th:text="${parsedDetail.vuo().opgestartOp()}"></div>
        <div class="label">Dossier afgesloten door uitvaartondernemer op</div>
        <div class="bottom-spacing" th:text="${parsedDetail.vuo().afgeslotenOp()}"></div>
        <div class="label">Dossier heropend door uitvaartondernemer op</div>
        <div class="bottom-spacing" th:text="${parsedDetail.vuo().heropendOp()}"></div>
        <div class="label">Dossier geannuleerd op</div>
        <div class="bottom-spacing" th:text="${parsedDetail.vuo().geannuleerdOp()}"></div>
    </section>
</div>


</html>