<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<div th:fragment="dossier(dossier, parsedDetail)" class="grid-container-3">
    <div class="grid-column">
        <p>
        <div class="label">Status</div>
        <div th:text="${dossier.dossierStatus()}"></div>
        </p>
        <p>
        <div class="label">Ingediend op</div>
        <div th:text="${dossier.ingediendOp()}"></div>
        </p>
        <p>
        <div class="label">Afgesloten op</div>
        <div th:text="${dossier.afgeslotenOp()}"></div>
        </p>
        <p>
        <div class="label">Heropend op</div>
        <div th:text="${dossier.heropendOp()}"></div>
        </p>

        <div th:if="${dossier.afgeslotenOp() == null}">
            <div th:replace="~{fragments/afsluiten.html :: afsluiten(id=${dossier.id()})}"></div>
        </div>
        <div th:if="${dossier.afgeslotenOp() != null}">
            <div th:replace="~{fragments/heropen.html :: heropen(id=${dossier.id()})}" naam></div>
        </div>
    </div>

    <div class="grid-column">
        <p>
        <div class="label">Uitvaartondernemer</div>
        <div th:text="${parsedDetail.uo().naam()}"></div>
        </p>
        <p>
        <div class="label">KBO-nummer</div>
        <div th:text="${parsedDetail.uo().kboNummer()}"></div>
        </p>
        <p>
        <div class="label">Dossier opgestart door uitvaartondernemer op</div>
        <div th:text="${parsedDetail.uo().opgestartOp()}"></div>
        </p>
    </div>
</div>


</html>