<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<div th:fragment="file-upload(dossier, parsedDetail)">
    <h2>Documenten</h2>
    <section class="grid-column">
        <h3>Overlijdensaktes</h3>
        <section class="grid-column">
            <form class="upload-file" method="post"
                  th:action="@{aktes/upload(type='nationaal', id=${dossier.id()})}" id="uploadNationaal"
                  enctype="multipart/form-data">
                <label for="nationaalOverlijdingsAkte">Nationale overlijdingsakte</label>
                <input id="nationaalOverlijdingsAkte" type="file" name="akte" onchange="uploadFile(this.form, 'akte')"/>
                <span></span>
                <div th:if="${parsedDetail.bewijzen('Overlijdensakte')}">
                    <span th:text="${parsedDetail.bewijzen('Overlijdensakte')}"></span>
                    <a th:href="@{aktes/download(id=${dossier.id()},type='nationaal')}" target="_blank">Download</a>
                </div>
            </form>
            <form class="upload-file" method="post"
                  th:action="@{aktes/upload(id=${dossier.id()},type='internationaal')}" id="uploadInternationaal"
                  enctype="multipart/form-data">
                <label for="internationaalOverlijdingsAkte">Internationale overlijdingsakte</label>
                <input id="internationaalOverlijdingsAkte" type="file" name="akte"
                       onchange="uploadFile(this.form, 'akte')"/>
                <span></span>
                <div th:if="${parsedDetail.bewijzen('OverlijdensakteInternationaalMeertaligUitreksel')}">
                    <span th:text="${parsedDetail.bewijzen('OverlijdensakteInternationaalMeertaligUitreksel')}"></span>
                    <a th:href="@{aktes/download(id=${dossier.id()},type='internationaal')}"
                       target="_blank">Download</a>
                </div>
            </form>
        </section>
        <h3>Toestemming</h3>
        <section class="grid-column">
            <form class="upload-file" method="post"
                  th:action="@{toestemming/upload(id=${dossier.id()})}" id="toestemmingForm"
                  enctype="multipart/form-data">
                <label for="toestemming">Toestemming</label>
                <input id="aanmaakDatumToestemming" type="datetime-local" name="aanmaakDatumToestemming"/>
                <input id="toestemming" type="file" name="toestemming" onchange="uploadFile(this.form, 'toestemming')"/>
                <span></span>
                <div th:if="${parsedDetail.bewijzen('Toestemming')}">
                    <span th:text="${parsedDetail.bewijzen('Toestemming')}"></span>
                    <a th:href="@{toestemming/download(id=${dossier.id()})}" target="_blank">Download</a>
                </div>
            </form>
        </section>
        <script>
            async function getErrorMessage(response) {
                if (response.status === 413) {
                    return 'Could not upload file maximum upload size exceeded'
                }
                if (response.status === 415) {
                    return `Invalid file type: ${(await response.json()).detail}`
                }
                return `Could not upload file ${(await response.json()).message}`
            }

            async function getMessage(response, formData, fileFieldName) {
                if (!response.ok) {
                    return await getErrorMessage(response);
                }
                return `${formData.get(fileFieldName).name} geuploadet (refresh om metadata te zien)`
            }

            function uploadFile(form, fileFieldName) {
                const formData = new FormData(form);
                if (!formData.get(fileFieldName).size) {
                    return;
                }
                fetch(form.action, {
                    method: "post",
                    body: formData
                }).then(async response => {
                    form.reset();
                    form.querySelector("span").innerText = await getMessage(response, formData, fileFieldName);
                });
            }
        </script>
    </section>
</div>

</html>