<div th:fragment="laatsteWilsbeschikking(id,laatsteBevragingRijksregister, laatsteWilsbeschikking, laatsteWilsbeschikkingGearchiveerdOp, laatsteWilsbeschikkingAndereBron)">

    <h2>Laatste Wilsbeschikking</h2>
    <div class="label">Datum bevraging bron</div>
    <div class="bottom-spacing" th:text="${laatsteBevragingRijksregister}">-</div>
    <div th:if="laatsteWilsbeschikkingGearchiveerdOp" class="label">Gearchiveerd op</div>
    <div th:if="laatsteWilsbeschikkingGearchiveerdOp" class="bottom-spacing" th:text="${laatsteWilsbeschikkingGearchiveerdOp}">-</div>
    <section th:if="${laatsteWilsbeschikking}">
        <div class="grid-container-3">
            <section class="grid-column">
                <h4>Metadata</h4>
                <div class="label">Wilsbeschikking IT-Code</div>
                <div class="bottom-spacing" th:text="${laatsteWilsbeschikking.wilsbeschikkingCode}">-</div>
                <div class="label">Datum van indiening</div>
                <div class="bottom-spacing" th:text="${laatsteWilsbeschikking.parsedDatumVanIndiening}">-</div>
                <div class="label">Datum van verklaring</div>
                <div class="bottom-spacing" th:text="${laatsteWilsbeschikking.parsedDatumVanVerklaring}">-</div>
                <div class="label">Plaats van registratie</div>
                <div class="bottom-spacing" th:text="${laatsteWilsbeschikking.plaatsRegistratie}">-</div>
            </section>
            <section class="grid-column">
                <h4>Ritueel en wijze van lijkbezorging</h4>
                <div class="label">Ritueel uitvaartplechtigheid</div>
                <div class="bottom-spacing" th:text="${laatsteWilsbeschikking.ritueel}">-</div>
                <div class="label">Wijze van lijkbezorging</div>
                <div class="bottom-spacing" th:text="${laatsteWilsbeschikking.wijzeVanLijkbezorging}">-</div>
                <div class="label">Begraafplaats</div>
                <div class="bottom-spacing" th:text="${laatsteWilsbeschikking.begraafplaats}">-</div>
            </section>
            <section class="grid-column">
                <h4>Uitvaart verzekeringscontract</h4>
                <div class="label">KBOnummer</div>
                <div class="bottom-spacing" th:text="${laatsteWilsbeschikking.contractOrganisatie}">-</div>
                <div class="label">Dossiernummer</div>
                <div class="bottom-spacing" th:text="${laatsteWilsbeschikking.contractNummer}">-</div>
                <div class="label">Datum</div>
                <div class="bottom-spacing" th:text="${laatsteWilsbeschikking.parsedDatumVanContract}">-</div>
            </section>
        </div>
    </section>

    <h3>Laatste wilsbeschikking van andere bron</h3>
    <section th:if="${laatsteWilsbeschikkingAndereBron}">
        <div class="label">Datum van verklaring</div>
        <div class="bottom-spacing" th:text="${laatsteWilsbeschikkingAndereBron.parsedDateOfDeclaration}">-</div>
        <button th:onclick="verwijderLaatsteWilsbeschikkingAndereBron([[${id}]], [[${@globalVariables.frontedBaseUrl}]]);">
            Verwijder
        </button>
    </section>
    <section th:unless="${laatsteWilsbeschikkingAndereBron}">
        <label>
            Datum van verklaring
            <input id="andere-laatste-wilsbeschikking-datum" type="date"/>
        </label>
        <button th:onclick="registreerLaatsteWilsbeschikkingAndereBron([[${id}]], [[${@globalVariables.frontedBaseUrl}]]);">
            Registreer
        </button>
        <span id="andere-laatste-wilsbeschikking-error"></span>
    </section>

    <script>
        function registreerLaatsteWilsbeschikkingAndereBron(id, frontendBaseUrl) {
            const dateOfDeclaration = document.getElementById("andere-laatste-wilsbeschikking-datum")?.value;
            fetch(frontendBaseUrl + '/dossier/' + id + '/andere-laatste-wilsbeschikking', {
                method: "post",
                headers: {"Content-Type": "application/json"},
                body: JSON.stringify({dateOfDeclaration: dateOfDeclaration})
            }).then(async response => {
                if (!response.ok) {
                    document.getElementById("andere-laatste-wilsbeschikking-error").innerText = await response.text();
                } else {
                    window.location.reload();
                }
            });
        }

        function verwijderLaatsteWilsbeschikkingAndereBron(id, frontendBaseUrl) {
            fetch(frontendBaseUrl + '/dossier/' + id + '/andere-laatste-wilsbeschikking', {
                method: "DELETE"
            }).then(async response => {
                if (!response.ok) {
                    alert(await response.text());
                } else {
                    window.location.reload();
                }
            });
        }
    </script>

</div>