<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

    <div th:fragment="overlijden-verslag(verslagDetail)" class="grid-column">
        <h3>Details overlijden</h3>
        <div class="label">Datum overlijden</div>
        <div class="bottom-spacing"  th:text="${verslagDetail.datumOverlijden()}"/>
        <div class="label">Gemeente van overlijden</div>
        <div class="bottom-spacing"  th:text="${verslagDetail.gemeenteOverlijden()}"/>
        <div class="label">Aard van overlijden</div>
        <div class="bottom-spacing"  th:text="${verslagDetail.aardOverlijden()}"/>
        <div class="label">Arts 2de controle</div>
        <div class="bottom-spacing"  th:text="${verslagDetail.controleArts()}"/>
        <div class="label">Arts beëdigd door gemeente</div>
        <div class="bottom-spacing"  th:text="${verslagDetail.gemeenteBeediging()}"/>

    </div>
</html>