<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<div th:fragment="overledene-jonger-dan-1-jaar(dossier, parsedDetail)" class="grid-column">
    <h3>Overledene</h3>
    <p>
    <div class="label">Overledene</div>
    <div class="data" th:text="${parsedDetail.naamOverledene()}"></div>
    </p>
    <p>
    <div class="label">Rijksregisternummer</div>
    <div class="data" th:text="${dossier.rijksregisternummer()}"></div>
    </p>
    <p>
    <div class="label">Geslacht</div>
    <div class="data" th:text="${dossier.geslacht()}"></div>
    </p>
    <p>
    <div class="label">Verblijfplaats moeder</div>
    <div class="data" th:text="${parsedDetail.verblijfplaatsMoeder()}"></div>
    </p>
    <p>
    <div class="label">Naam moeder</div>
    <div th:text="${parsedDetail.naamMoeder()}">
        someValue
    </div>

    </p>
</div>
</html>