<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

    <div th:fragment="overledene-ouder-dan-1-jaar(dossier, parsedDetail)" class="grid-column">
        <h3>Overledene</h3>
        <p>
        <div class="label">Overledene</div>
        <div class="data" th:text="${parsedDetail.naamOverledene()}"/>
        </p>
        <p>
        <div class="label">Rijksregisternummer</div>
        <div class="data" th:text="${dossier.rijksregisternummer()}"/>
        </p>
        <p>
        <div class="label">Geslacht</div>
        <div class="data" th:text="${dossier.geslacht()}"/>
        </p>
        <p>
        <div class="label">Verblijfplaats</div>
        <div class="data" th:text="${parsedDetail.verblijfplaatsOverledene()}"/>
        </p>
        <p>
        <div class="label">Echtgeno(o)t(te) of weduw(e)(naar) van</div>
        <div th:text="${parsedDetail.naamPartner()}"/>
        </p>
    </div>
</html>