<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<div th:fragment="overledene-jonger-dan-1-jaar(dossier, parsedDetail)" class="grid-column">
    <h3>Overledene</h3>
    <div class="label">Overledene</div>
    <div class="bottom-spacing"  th:text="${parsedDetail.naamOverledene()}"></div>
    <div class="label">Rijksregisternummer</div>
    <div class="bottom-spacing"  th:text="${dossier.rijksregisternummer()}"></div>
    <div class="label">Geslacht</div>
    <div class="bottom-spacing"  th:text="${dossier.geslacht()}"></div>
    <div class="label">Verblijfplaats moeder</div>
    <div class="bottom-spacing"  th:text="${parsedDetail.verblijfplaatsMoeder()}"></div>
    <div class="label">Naam moeder</div>
    <div class="bottom-spacing"  th:text="${parsedDetail.naamMoeder()}">
        someValue
    </div>
</div>
</html>