<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head><title>Titel fragment</title></head>
<body>
<div th:fragment="verslag(verslag)">
    <h3 th:text="'Verslag van de aangestelde beëdigd arts. Aangemaakt op: ' + ${verslag.aanmaakDatum()}"></h3>

    <div class="grid-container-2">
        <div th:replace="~{fragments/overledene-verslag.html :: overledene-verslag(verslagDetail=${verslag})}"></div>
        <div th:replace="~{fragments/overlijden-verslag.html :: overlijden-verslag(verslagDetail=${verslag})}"></div>
    </div>
</div>
</body>
</html>