<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head><title></title></head>
<body>
<div th:fragment="verwijderen(id)">
    <div>
        <label>
            Reden van verwijderen
            <input id="verwijderen-input" type="text"/>
        </label>
        <button th:onclick="verwijderenDossier([[${id}]], [[${@globalVariables.frontedBaseUrl}]]);">Verwijder</button>
    </div>

    <span id="error"></span>
    <script>

        function verwijderenDossier(id, frontedBaseUrl) {
            const message = document.getElementById("verwijderen-input")?.value;
            fetch(frontedBaseUrl + '/dossier/' + id + '/verwijderen', {
                method: "post",
                body: message ? message : undefined
            }).then(async response => {
                if (response.status === 400) {
                    document.getElementById("error").style.display = "block";
                    document.getElementById("error").innerText = await response.text();
                } else {
                    window.location.reload();
                }

            });
        }

    </script>

</div>

</body>
</html>